# Environment variables
.env
backend/.env

# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Python
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class

# Build files
dist/

# Development tools
.aider*

# Uncomment if needed
#config.json
